body {
    margin: 0;
}

#wave-slider-container {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
}

#color-slider-container {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
}

#bg-color-slider-container {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
}

@media (max-width: 1050px) and (min-width: 800px) {
    #bg-color-slider-container {
        flex-wrap: wrap;
        width: 310px;
    }
}

@media (max-width: 800px) {
    #color-slider-container {
        bottom: 80px;
    }
    
    #bg-color-slider-container {
        left: 0;
    }
}

.slider-div {
    padding: 10px;
    padding-top: 0;
    text-align: center;
}

p {
    color: #ffffff;
}

button {
    font-family: inherit;
    height: 20px;
    margin-left: 5px;
    margin-top: 25px;
}
button:active {
    background-color: cornflowerblue;
}