body {
    margin: 0;
}

#wave-slider-container {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
}

#color-slider-container {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
}

#bg-color-slider-container {
    position: fixed;
    display: flex;
    right: 0;
    bottom: 0;
}

.slider-div {
    padding: 10px;
    padding-top: 0;
    text-align: center;
}

p {
    color: #ffffff;
}